
{% extends "base.html" %}
{% block content %}
        <!-- About section -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="about-heading">About Us</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <p class="about-content">Shahanj Construction Company Pvt Ltd is a full service Construction Company dedicated to building, bridge, roads and improving residential and commercial structures according to client needs and desires. Founded in 1982 and based in Bardiya, Nepal , our team is ready to give your space whatever updates it requires. Just give us a call or write us a note and we’ll get back to you with a quote.</p>
                    </div>
                <h1 class="container-fluid text-center"> This is the exact location</h1>
                <br>
                <br>
            
                <iframe class="container-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14130.759409075858!2d85.32364026678619!3d27.695979170286957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb193a59e7b0a3%3A0xfb6de8ba224a9ad0!2sSAH%20Construction%20%26%20Consultant%20Pvt.%20Ltd.!5e0!3m2!1sen!2snp!4v1714638751926!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
{% endblock content %}


